@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.poke-card {
  background-color: white;
  border: 5px solid black;
  box-shadow: 7px 7px black;
  border-radius: 10px;
  margin: 20px;
  padding: 30px 10px;
  min-width: 200px;
  text-align: center;
}

.info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/background_card.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid black;
  min-height: 200px;
  padding-bottom: 30px;
  margin: 0px 5px 20px 5px;
}

.info-card p {
  padding: 2px 2px 0 0;
  font-weight: bold;
}

.info-card img {
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  bottom: -60px;
}

.poke-card h2 {
  font-size: 0.8rem;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 2px;
  color: #ed3237;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}
